@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

@media (max-width: 767px) {
  html {
    scroll-padding-top: 68px; /* tweak this: 60–66px usually works */
  }
}

@theme {
  --font-inter: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
